.header__options {
  flex-direction: row;
  display: flex;
  gap: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 24px 60px 24px 60px;
}

.header__title {
  color: #c7c7c7;
  font-size: 32px;
  font-family: "Bebas Neue", Arial, serif;
}
