.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1224px;
  max-width: 100%;
  margin: 30px 108px 80px 108px;
}
.profile__content {
  width: 544px;
  max-width: 100%;
  margin: 160px 80px 180px 0px;
}

.profile__img {
  width: 600px;
  max-width: 100%;
  background-color: #c7c7c7;
  border-radius: 16px;
}

.profile__title {
  color: #c7c7c7;
  font-size: 101px;
  font-family: "Bebas Neue", Arial, serif;
  line-height: 90%;
  margin: 0px;
}

.profile__subtitle {
  margin-top: 8px;
  margin-bottom: 40px;
}

.profile__button {
  border-radius: 100px;
  max-width: 100%;
  width: 187px;
  padding: 20px 24px 20px 6px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-family: "Manrope", Arial, serif;
  font-weight: bold;
  background-color: #d3e97a;
}

.profile__redes {
  display: flex;
  gap: 16px;
}

.profile__icon {
  background-color: #222222;
  color: #d3e97a;
  width: 54px;
  height: 54px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.icon {
  width: 26px;
  height: 26px;
}
