h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

/* Projects Section */
.projects {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 100px;
  padding: 15px;
}

.projects__title {
  font-size: 76px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", Arial, serif;
  width: 600px;
  margin-top: 80px;
  padding: 0px;
  color: #c7c7c7;
  font-size: 101px;
  line-height: 0.9;
}

.projects__subtitle {
  font-size: 1.2em;
  color: #c7c7c7;
  width: 600px;
}
.projects__header {
  text-align: left;
  margin-left: 108px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects__one {
  margin-top: 80px;
  margin-bottom: 120px;
  width: 100%;
  max-width: 1224px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.one__conteiner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 8px;
}

.one__title-image {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #0a0a0a;
  text-align: left;
  padding: 8px 16px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.one__image {
  width: 100%;
  max-width: 486px;
  height: auto;
  border-radius: 12px;
}

.one__conteiner2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.one__title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #d3e97a;
}

.one__subtitle {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #c7c7c7;
}

.project-info {
  background-color: #111;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-info__title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #d3e97a;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: #c7c7c7;
}

.info__item {
  display: flex;
  flex-direction: column;
}

.info__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.button {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.button__live-demo,
.button__github {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d3e97a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  border: 2px solid #d3e97a;
}

.button__live-demo img,
.button__github img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* Adaptabilidad para pantallas grandes (Desktop) */
@media (min-width: 1024px) {
  .projects__title {
    font-size: 76px;
    width: 600px;
  }

  .projects__subtitle {
    width: 600px;
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .projects__one {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .one__conteiner1 {
    width: 600px;
  }

  .one__image {
    width: 100%;
    max-width: 486px;
  }

  .one__title {
    font-size: 32px;
  }

  .one__subtitle {
    font-size: 1em;
  }
}

/* Adaptabilidad para tabletas (pantallas medianas) */
@media (min-width: 768px) and (max-width: 1023px) {
  .projects__title {
    font-size: 60px;
    width: 80%;
  }

  .projects__subtitle {
    width: 80%;
    font-size: 1.1em;
  }

  .projects__one {
    flex-direction: column;
    gap: 30px;
  }

  .one__conteiner1 {
    width: 100%;
    padding: 16px;
  }

  .one__title-image {
    font-size: 12px;
  }

  .one__image {
    max-width: 100%;
  }

  .one__title {
    font-size: 28px;
  }

  .one__subtitle {
    font-size: 0.9em;
  }

  .project-info__title {
    font-size: 1.1em;
  }

  .info {
    font-size: 0.9em;
  }

  .button__live-demo,
  .button__github {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Adaptabilidad para dispositivos móviles (pantallas pequeñas) */
@media (max-width: 767px) {
  .projects__title {
    font-size: 45px;
    width: 100%;
  }

  .projects__subtitle {
    width: 100%;
    font-size: 1em;
  }

  .projects__header {
    margin: 20px;
  }
  .projects__one {
    flex-direction: column;
    gap: 40px;
  }

  .one__conteiner1 {
    width: 100%;
    padding: 12px;
  }

  .one__title-image {
    font-size: 12px;
  }

  .one__image {
    width: 100%;
  }

  .one__title {
    font-size: 24px;
  }

  .one__subtitle {
    font-size: 0.9em;
  }

  .project-info__title {
    font-size: 1em;
  }

  .info {
    font-size: 0.8em;
  }

  .button__live-demo,
  .button__github {
    font-size: 12px;
    padding: 8px 14px;
  }
}
