@import url("../vendor/normalize.css");
@import url("../fonts/inter.css");
@import url("../blocks/about.css");
@import url("../blocks/contact.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/projects.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  height: 100%; /* Asegura que el body y el html ocupen toda la altura */
  overflow: auto; /* Permite el desplazamiento si es necesario */
  margin: 0; /* Elimina el margen por defecto */
}
